/* containers */
.container1 {
  /* display: flex; */
  /* justify-content: center; */
  padding: 10px;
  background-color: var(--backgroundLight);
}
.container1 div {
  max-width: 1500px;
}
.container2 {
  background-image: url("https://github.com/levanydze/constructionSupport/blob/main/assets/white-graysh.jpeg?raw=true");
  background-position: 0px 0px;
  background-size: 16px;
  padding: 50px;
}

@media (max-width: 1000px) {
  .container2 {
    padding: 50px;
  }
}

@media (max-width: 700px) {
  .container2 {
    padding: 30px;
  }
}
@media (max-width: 500px) {
  .container2 {
    padding: 20px;
  }
}
